.currency-div {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    width:450px;
    height: 200px;
    border:3px solid greenyellow
}
.currency-div h3{
    color: yellowgreen;
    margin-top: -10px;
    font-size: 25px;
}
.amount{
    width:80px;
    height: 25px;
    margin-right:10px ;
}
.from-currency-option{
    width: 70px;
    height:30px;
    margin-right: 10px;
}
.to-currency-option{
   width: 70px;
    height:30px;
    margin-right: 10px; 
}
.result{
    width: 70px;
    height:30px;
}
.exchange-button{
    width:80px;
    height: 40px;
    background-color: yellowgreen;
    color: black;
    border:none;
    border-radius: 5px;
    margin-top: 15px;
}